* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Amatic SC", cursive;
  font-size: 1rem;
  text-decoration: none;
  background-color: black;
}

footer {
  color: white;
  align-items: center;
  justify-content: center;
}
