body {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  background-color: black;
}

.site-header {
  text-align: center;
}
.logo {
  width: 400px;
}

.text-center {
  text-align: center;
}
h1 {
  color: white;
  font-family: "Amatic SC", cursive;
}
img {
  max-width: 100;
}
img,
svg {
  vertical-align: middle;
}
label {
  color: white;
  font-family: "Amatic SC", cursive;
}

input {
  color: black;
}
div {
  color: white;
}

.News {
  color: white;
  font-size: 2rem;
  font-weight: 100;
}

@include mobile {
}
@include tablet {
}
