ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-align: center;
  color: white;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1328px;
}
@include mobile {
}
@include tablet {
}
